<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>FAQs</h1>
      <hr>

      <div>
        <h3>1. What is Sidekiq?</h3>

        <p>
          Sidekiq makes you look good by sending you clothes when you need them, the way you like them, with no extra fees.
        </p>
      </div>

      <div>
        <h3>2. What is a Kiq?</h3>

        <p>
          A Kiq is a name for a package of clothing. You can reqeust and return one freely.
        </p>
      </div>

      <div>
        <h3>3. How does Sidekiq work?</h3>

        <p>
          It works very simply. When you sign up, based on your profile, Sidekiq assigns you to a personal stylist of its own.<br>
          You can specify your needs, styles, budget, and sizes at any time. Whenever you want, you can request a Kiq from the stylist by simply clicking a button!
        </p>
      </div>

      <div>
        <h3>4. What if I don't like the clothes?</h3>

        <p>
          When you don't like some items in your Kiq, you can simply put them back in the Kiq and return it to us.<br>
          In short, you only pay for what you keep.
        </p>
      </div>

      <div>
        <h3>5. Where do you ship to?</h3>

        <p>
          Currently, we serve the greater Sydney areas. We will expand the coverage very soon.
        </p>
      </div>

      <div>
        <h3>6. Are payments secure?</h3>

        <p>
          We use industry-standard SSL encryption with Stripe payment gateway. They are very secure.
        </p>
      </div>

      <div>
        <h3>7. What if I have a question?</h3>

        <p>
          You can contact your stylist via your profile page.<br>
          If you need any other assistance, send us an email to hello@sidekiq.com, or communicate through our Facebook page. We are very social!
        </p>
      </div>

      <div>
        <p>
          Photo credit: <a target='_blank' href="http://www.flickr.com/photos/amirk/7666872808">Amir Kurbanov</a>
        </p>
      </div>


    </div>
  </div>
</div>
