<div class="panel panel-default">
  <div class="panel-body">
    <h3>Your styles and needs</h3>

    <div>
      <a ui-sref='profile.kiqs' class='btn btn-info'>View</a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3 ng-class='{scratched: address.exists}'>Add shipping address</h3>

    <div ng-if='!address.exists'>
      <a ui-sref='profile.edit.shipping' class='btn btn-info'>
        Add Shipping address
      </a>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3 ng-class='{scratched: customer.exists}'>Add credit card</h3>

    <div ng-if='!customer.exists'>
      <a ui-sref='profile.edit.billing' class='btn btn-info'>
        Add credit card
      </a>
    </div>

  </div>
</div>
