<div class="panel panel-default">
  <div class="panel-body">
    Your Kiqs

    <div>
      <a ui-sref='profile.kiqs' class='btn btn-info'>
        View <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p ng-class='{scratched: address.exists}'>Add shipping address</p>

    <div ng-if='!address.exists'>
      <a ui-sref='profile.edit.shipping' class='btn btn-info'>
        Add Shipping address
      </a>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Add credit card
  </div>
</div>
