<div id="fb-pixel" ng-class="{'fb-conversion': registrationComplete}"></div>

<div ng-include="'signup_form/partial/progress.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <div id="form-container">

        <div flash-alert active-class="in alert" class="fade text-center">
          <span class="alert-message">{{ flash.message }}</span>
        </div>

        <form id='signup-form' ng-submit='processForm()'>
          <div id="form-views" ui-view></div>
        </form>

      </div>
    </div>
  </div>
</div>
