<div class="form-group row">
  <input type="checkbox" value='SmartKiq' id='SmartKiq' ng-model='formData.smart_kiq'>
  <label for="SmartKiq">SmartKiq</label>

  <input type="checkbox" value='CasualKiq' id='CasualKiq' ng-model='formData.casual_kiq'>
  <label for="CasualKiq">CasualKiq</label>

  <input type="checkbox" value='HipsterKiq' id='HipsterKiq' ng-model='formData.hipster_kiq'>
  <label for="HipsterKiq">HipsterKiq</label>

  <input type="checkbox" value='ClassicKiq' id='ClassicKiq' ng-model='formData.classic_kiq'>
  <label for="ClassicKiq">ClassicKiq</label>
</div>


<div class="form-group row">
  <div class="col-xs-3">
    <a ui-sref='signup.needs' class='btn btn-block btn-default'>
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Prev Section
    </a>
  </div>

  <div class="col-xs-3 col-xs-offset-6">
    <a ui-sref='signup.account' class='btn btn-block btn-info'>
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
