<div class="form-group row">

  <div class="col-sm-12 text-center">
    <h3>What are your measurements?</h3>
  </div>

  <div class="col-sm-4">
    <label for="height">Height (cm)</label>
    <input type="number" class="form-control" name="height" ng-model="formData.height">
  </div>

  <div class="col-sm-4">
    <label for="weight">Weight (kg)</label>
    <input type="number" class="form-control" name="weight" ng-model="formData.weight">
  </div>

  <div class="col-sm-4">
    <label for="shirt-size">Casual shirt size</label>
    <select class="form-control" name='shirt-size' ng-model="formData.casual_shirt_size">
      <option value='xs'>XS</option>
      <option value='s'>S</option>
      <option value='m'>M</option>
      <option value='l'>L</option>
      <option value='xl'>XL</option>
      <option value='xxl'>XXL</option>
      <option value='other'>Other</option>
    </select>
  </div>

</div>

<div class="form-group row">
  <div class="col-xs-3 col-xs-offset-9">
    <a ui-sref='signup.needs' ng-click="checkInput1($event)" class='btn btn-block btn-info'>
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
