<div class="form-group row">
  <div class="col-lg-6 col-lg-offset-3">

    <h3 class='text-center'>What kind of clothings do you need?</h3>

    <div class="options">
      <div class="option">
        <input type="checkbox" value='longsleeve' id='longsleeve' ng-model='formData.longsleeve'>
        <label for="longsleeve">Long-sleeve</label>
      </div>
      <div class="option">
        <input type="checkbox" value='shortsleeve' id='shortsleeve' ng-model='formData.shortsleeve'>
        <label for="shortsleeve">Short-sleeve</label>
      </div>
      <div class="option">
        <input type="checkbox" value='polo_shirt' id='polo_shirt' ng-model='formData.polo_shirt'>
        <label for="polo_shirt">Polo shirt</label>
      </div>
      <div class="option">
        <input type="checkbox" value='pants' id='pants' ng-model='formData.pants'>
        <label for="pants">Pants</label>
      </div>
      <div class="option">
        <input type="checkbox" value='shorts' id='shorts' ng-model='formData.shorts'>
        <label for="shorts">Shorts</label>
      </div>
    </div>

    <a ui-sref='signup.sizes' ng-click='checkInput2($event)' class='btn btn-block btn-info'>
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
