<% flash.each do |key, value| %>
  <div class="text-center alert alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= value %>
  </div>
<% end %>
