// To make bootstrap alert work with rails flash[:notice], and flash[:alert]
$alert-danger-bg: #D9534F;
$alert-danger-border: transparent;
$alert-danger-text: #FFF;

$alert-success-bg: #5CB85C;
$alert-success-border: transparent;
$alert-success-text: #FFF;

@mixin alert-variant($background, $border, $text) {
  background-color: $background;
  border-color: $border;
  color: $text;
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
// Flash workaround ends

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

a {
  cursor: pointer;
}

.form-actions {
  margin-top: 10px;
}

body {
  background-color: $gray-light;
}

.box {
  width: 100%;
}

ol, ul {
  list-style: none;
}

.item-container {
  background-color: #fff;
  padding: 30px;
}

.btn-margin-right {
  margin-right: 15px;
}

textarea {
  resize: none;
}


/* The below overwrites the default Bootstrap styles */

.navbar-default {
   background-color: #2a3940;
}
