.ng-invalid {
  color: red;
}

.scratched {
  text-decoration: line-through;
}

.item-container {
  background-color: #fff;
  padding: 30px;
}

.nav {
  li.active {
    background-color: $gray;
  }
}
