// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* form styling */
#form-container {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 30px;
  }
}


/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
  transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(200%); }
  to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from    { -moz-transform:translateX(200%); }
  to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from    { -webkit-transform:translateX(200%); }
  to      { -webkit-transform: translateX(0); }
}

#fb-pixel{
  display:none;
}

.fb-conversion {
  background-image: url('https://www.facebook.com/offsite_event.php?id=6024814275370&value=0.01&currency=AUD');
}

.nav-breadcrumb {
  text-align: center;
  text-transform: uppercase;

  li {
    display: inline-block;

    &.active {
      a {
        color: #000;
      }
    }

    &:not(:last-child)::after {
      font-family: FontAwesome;
      content: "\f105";
      margin: 0 20px;
      color: $gray-blue;
    }
  }

  a {
    padding: 12px 0;
    display: inline-block;
    width: 120px;
    color: $gray-blue;
  }
}

#registration-steps {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;

  ul {
    margin-bottom: 0;
  }
}

.options {
  margin-bottom: 50px;

  .option {
    text-align: center;
    margin: 30px 0;
  }
}
