<div flash-alert active-class="in alert" class="fade text-center">
  <span class="alert-message">{{ flash.message }}</span>
</div>

<div class="row" ng-controller='customersController'>
  <div class="col-md-6">
    <form stripe-form='handleStripe'>

      <h4>Add/Update credit card</h4>

      <label class='box'>
        Card number
        <input ng-model='number' payments-format='card' class='form-control' />
      </label>

      <label class='box'>
        Expiration date
        <input ng-model='expiry' placeholder='MM/YY' payments-format='expiry' class='form-control' />
      </label>

      <label class='box'>
        CVC code
        <input ng-model='cvc' payments-format='cvc' class='form-control' />
      </label>


      <div class="form-actions">
        <button type='submit' class='btn btn-success'>Complete</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h4>Currently saved credit card</h4>

    <div ng-if='customer.exists'>
      {{ customer.card.brand }} {{ customer.card.last4 }} {{ customer.card.exp_month }}/{{ customer.card.exp_year }}

      <div class="form-actions">
        <button ng-click='deleteCard()' class='btn btn-default'>Remove</button>
      </div>
    </div>

    <div ng-if='!customer.exists'>
      None
    </div>
  </div>

  <a class='ssl-cert' href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.sidekiq.co' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>

</div>
