<div flash-alert active-class="in alert" class="fade text-center">
  <span class="alert-message">{{ flash.message }}</span>
</div>

<form id='profile-form' ng-submit='updateUser()'>
  <div class="row">
    <div class="col-md-5">

      <h4>Your sizes</h4>

      <label for="height">Height</label>
      <input type="number" value='height' id='height' class='form-control' ng-model='user.height'>

      <label for="weight">Weight</label>
      <input type="number" value='weight' id='weight' class='form-control' ng-model='user.weight'>

      <label for="casual-shirt-size">Casual Shirt Size</label>
      <select class="form-control" name='casual-shirt-size' ng-model="user.casual_shirt_size">
        <option value='xs'>XS</option>
        <option value='s'>S</option>
        <option value='m'>M</option>
        <option value='l'>L</option>
        <option value='xl'>XL</option>
        <option value='xxl'>XXL</option>
        <option value='other'>Other</option>
      </select>

      <label for="waist">Waist</label>
      <select class='form-control' name='waist' ng-model='user.waist'>
        <option value="0">I don't know</option>
        <option value='28'>28</option>
        <option value='29'>29</option>
        <option value='30'>30</option>
        <option value='31'>31</option>
        <option value='32'>32</option>
        <option value='33'>33</option>
        <option value='34'>34</option>
        <option value='35'>35</option>
        <option value='36'>36</option>
        <option value='37'>37</option>
        <option value='38'>38</option>
        <option value='39'>39</option>
        <option value='40'>40</option>
        <option value='40'>40</option>
        <option value='41'>41</option>
        <option value='42'>42</option>
        <option value='999'>Other</option>
      </select>

      <label for="inseam">Inseam</label>
      <select class='form-control' name='inseam' ng-model='user.inseam'>
        <option value='0'>I don't know.</option>
        <option value='28'>28</option>
        <option value='30'>29</option>
        <option value='32'>32</option>
        <option value='34'>34</option>
        <option value='36'>36</option>
        <option value='999'>Other</option>
      </select>


      <div class="form-actions">
        <button type='submit' class='btn btn-success'>Complete</button>
      </div>
    </div>
  </div>
</form>
