<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <div ng-include="'profile/partial/stylist.html'"></div>

      <a class='btn btn-success' ng-controller='kiqsController' ng-click='requestKiq()'>Request a Kiq</a>
      <a ui-sref='profile.conversations' class='btn btn-default'>Conversations</a>
    </aside>

    <div class="col-md-9">
      <div flash-alert active-class="in alert" class="fade text-center">
        <span class="alert-message">{{ flash.message }}</span>
      </div>

      <div ng-include="'profile/partial/dashboard.html'"></div>
    </div>
  </div>
</div>
